<div class="row gx-0">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="observal-practical" class="text-decoration-none">observal exapmle</a>
            </li>
            <li>
                <a routerLink="subject" class="text-decoration-none">Subject</a>
            </li>
            <li>
                <a routerLink="behaviour" class="text-decoration-none">Behaviour Subject</a>
            </li>
            <li>
                <a routerLink="async" class="text-decoration-none">Async Subject</a>
            </li>
            <li>
                <a routerLink="replay" class="text-decoration-none">Replay Subject</a>
            </li>
            <li>
                <a routerLink="operator" class="text-decoration-none">Operators</a>
            </li>
            <!-- <li>
                <a routerLink="async" class="text-decoration-none">xyz</a>
            </li>
            <li>
                <a routerLink="async" class="text-decoration-none">xyz</a>
            </li>
            <li>
                <a routerLink="async" class="text-decoration-none">xyz</a>
            </li> -->
        </ul>
    </div>
</div>
