@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin line-percentage {
  position: absolute;
  height: 100%;
  border-radius: 10px;
}

@mixin percentage-color($percentage, $bg) {
  width: $percentage;
  background-color: $bg;
}