<div class="container w-50 border-ternary my-4">
    <h3 class="my-3 ">Employee Details</h3>

    <div class="my-3">
        <div class="d-flex my-2">
            <h6 class="w-12">Name :</h6>
            {{myParam.params.name | titlecase}}
        </div>
        <div class="d-flex my-2">
            <h6 class="w-12">Gender :</h6>
            {{myParam.params.gender | uppercase}}
        </div>
        <div class="d-flex my-2">
            <h6 class="w-12">DOB :</h6>
            {{myParam.params.dob | date : 'mediumDate'}}
        </div>
        <div class="d-flex my-2">
            <h6 class="w-12">Salary :</h6>
            {{myParam.params.salary | currency : 'INR'}}
        </div>
    </div>

</div>