<form [formGroup]="userForm" class="m-5">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="text" id="form6Example1" class="form-control" formControlName="firstname" required value="First Name"
                [ngClass]="{'is-invalid' : userForm.controls['firstname'].invalid && (isSubmitted || userForm.controls['firstname'].touched || userForm.controls['firstname'].dirty),
                    'is-valid' : userForm.controls['firstname'].valid && (isSubmitted || userForm.controls['firstname'].touched || userForm.controls['firstname'].dirty)}">
                <label class="form-label" for="form6Example1">First name</label>
                <div *ngIf="f['firstname'].invalid && (f['firstname'].touched || f['firstname'].dirty)">
                    <div *ngIf="f['firstname'].errors && f['firstname'].errors['required']" class="text-danger">First
                        Name is
                        required.</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="text" id="form6Example2" class="form-control" formControlName="lastname">
                <label class="form-label" for="form6Example2">Last name</label>
                <div *ngIf="f['lastname'].invalid && (f['lastname'].touched || f['lastname'].dirty)">
                    <div *ngIf="f['lastname'].errors && f['lastname'].errors['required']" class="text-danger"> Last
                        Name is
                        required.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <!-- Text input -->
        <div class="form-outline col mb-4">
            <input type="text" id="form6Example3" class="form-control" formControlName="companyname" required>
            <label class="form-label" for="form6Example3">Company name</label>
            <div *ngIf="f['companyname'].invalid && (f['companyname'].touched || f['companyname'].dirty)">
                <div *ngIf="f['companyname'].errors && f['companyname'].errors['required']" class="text-danger">Company Name
                    is
                    required.</div>
            </div>
        </div>


        <!-- Text input -->
        <div class="form-outline col mb-4">
            <input type="text" id="form6Example4" class="form-control" formControlName="address" required>
            <label class="form-label" for="form6Example4">Address</label>
            <div *ngIf="f['address'].invalid && (f['address'].touched || f['address'].dirty)">
                <div *ngIf="f['address'].errors && f['address'].errors['required']" class="text-danger"> Address is
                    required.</div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <!-- Email input -->
        <div class="form-outline mb-4 col">
            <input type="email" id="form6Example5" class="form-control" formControlName="email" required>
            <label class="form-label" for="form6Example5">Email</label>
            <div *ngIf="f['email'].invalid && (f['email'].touched || f['email'].dirty)">
                <div *ngIf="f['email'].errors && f['email'].errors['required']" class="text-danger">Email is
                    required.</div>
            </div>
        </div>


        <!-- Number input -->
        <div class="form-outline mb-4 col">
            <input type="text" id="form6Example6" class="form-control" formControlName="phone" required>
            <label class="form-label" for="form6Example6">Phone</label>
            <div *ngIf="f['phone'].invalid && (f['phone'].touched || f['phone'].dirty)">
                <div *ngIf="f['phone'].errors && f['phone'].errors['required']" class="text-danger">Phone no. is
                    required.</div>
            </div>
        </div>
    </div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox"  id="form6Example8" formControlName="check" required>
        <label class="form-check-label" for="form6Example8"> Create an account? </label>
        <div *ngIf="f['check'].invalid && (f['check'].touched || f['check'].dirty)">
            <div *ngIf="f['check'].errors && f['check'].errors['required']" class="text-danger">Accept term and condition.</div>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" (click)="onSubmit()" [disabled]="userForm.invalid" >Submit</button>
</form>