// variables-----start
$bgcolor : #fff;

// Sidebar
$sidebar-expand-width: 220px;
// $height-sidebar : 90%;
$card-width:25%;
// variables---end

// map---
$font-weight : ("regular":400,"medium":500,"bold":600);
