 // sidebar---start
 aside {
    height: 100%;
    width: $sidebar-expand-width;
    margin-top: 3px;
    background-color: $bgcolor;
    transition: .25s;
    .side-top ul {
        li {
            height: 50px;
            padding-left: 15px;
            color: hsl(240deg 3% 65%);
        }

        h4 {
            height: 50px;
            padding-left: 15px;
            padding-top: 15px;
        }
    }
    .side-bottom ul {
        li {
            height: 50px;
            padding-left: 15px;
            color: hsl(240deg 3% 65%);
        }

        h4 {
            height: 50px;
            padding-left: 15px;
            margin-top: 55px;
        }
    }
    ul li:hover {
        background-color: hsl(132deg 63% 97%);
        color: hsl(133deg 42% 54%);
        border-left: 3px solid #16b031;
    }
}
// sidebar---end---