/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-spacebetween {
  justify-content: space-between;
}

ul li {
  padding: 12px 5px;
}

.p-10 {
  padding-left: 15px;
}

a {
  text-decoration: none;
}

.d-none {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

a {
  cursor: pointer;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
}
.container .wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.container .wrapper #checkbox {
  display: none;
}
.container .wrapper #checkbox:checked + aside {
  width: 0%;
  transform: translateX(-300px);
}

.card, .card-four, .card-three, .card-two {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #dddddd;
  height: 80px;
  width: 220px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #d8f0de;
}

.card-two {
  background-color: rgb(216, 212, 155);
}

.card-three {
  background-color: rgb(223, 132, 185);
}

.card-four {
  background-color: rgb(147, 211, 211);
}

.card-one:hover {
  background-color: #6adf80;
}

.card-two:hover {
  background-color: #22db44;
}

.card-three:hover {
  background-color: #02270a;
}

.card-four:hover {
  background-color: #515f53;
}

/* responsive */
@media (max-width: 600px) {
  aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: #f2fcf4;
  }
}
@media (max-width: 600px) {
  .main-table {
    width: 100%;
    overflow-y: hidden;
  }
}
@media (max-width: 1200px) {
  .card-wrap {
    width: 33%;
  }
}
@media (max-width: 900px) {
  .card-wrap {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .card-wrap {
    width: 100%;
  }
}
/* @media (max-width: 1000px) {
    aside {
        width: 0%;
        transform: translateX(-300px);
    }
} */
/* bgcolor */
.bg {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 5px;
}

.red {
  background-color: #ffeeed;
  color: red;
}

.green {
  background-color: #f2fcf4;
  color: green;
}

.yellow {
  background-color: #fff7e4;
  color: #e79c4d;
}

.header {
  display: flex;
  align-items: center;
  height: 55px;
  background-color: #fff;
}
.header-right {
  margin-right: 20px;
}
.header-right .profile-wrap {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}
.header-right .profile-wrap img {
  height: auto;
  width: 100%;
}
.header .logo {
  width: 220px;
  text-align: center;
}
.header .icon-color {
  color: hsl(240deg, 3%, 65%);
}
.header .icon-color:hover {
  color: #16b031;
}
.header .menu {
  margin: 10px 10px 0px 10px;
}

aside {
  height: 100%;
  width: 220px;
  margin-top: 3px;
  background-color: #fff;
  transition: 0.25s;
}
aside .side-top ul li {
  height: 50px;
  padding-left: 15px;
  color: hsl(240deg, 3%, 65%);
}
aside .side-top ul h4 {
  height: 50px;
  padding-left: 15px;
  padding-top: 15px;
}
aside .side-bottom ul li {
  height: 50px;
  padding-left: 15px;
  color: hsl(240deg, 3%, 65%);
}
aside .side-bottom ul h4 {
  height: 50px;
  padding-left: 15px;
  margin-top: 55px;
}
aside ul li:hover {
  background-color: hsl(132deg, 63%, 97%);
  color: hsl(133deg, 42%, 54%);
  border-left: 3px solid #16b031;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 3px;
  margin-left: 3px;
  /* seachbar start----- */
  /* searchbar   end---- */
}
main .searchbar {
  margin: 30px;
  justify-content: space-between;
}
main .searchbar .searchbox {
  background-color: hsl(218deg, 14%, 89%);
}
main .searchbar .searchbox .icon {
  padding-left: 10px;
}
main .searchbar .searchbox #search-icon {
  all: unset;
  padding: 0 20px;
  padding: 8px 14px;
  color: #abb1be;
  width: 240px;
}
main .searchbar .searchbox .btn {
  all: unset;
  font-size: 14px;
  padding: 8px 14px;
  cursor: pointer;
  background-color: #16b031;
  color: #fff;
}
main .searchbar ::placeholder {
  color: #abb1be;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
main .card-wrapper {
  margin: 0 30px;
}

/* table-start */
.activity {
  margin: 30px;
}
.activity .main-table {
  margin-top: 15px;
  height: 500px;
  overflow: auto;
}
.activity .main-table table {
  width: 100%;
  border-radius: 5px;
  border-spacing: 0px 10px;
  position: relative;
}
.activity .main-table table th,
.activity .main-table table td {
  padding: 15px;
  text-align: center;
  background-color: #fff;
}
.activity .main-table table th {
  position: sticky;
  top: 0;
}
.activity .main-table .norecord {
  padding: 15px;
  text-align: center;
  background-color: #fff;
  color: red;
}

/* table end--- *//*# sourceMappingURL=styles.css.map */